@model IEnumerable<ECOMSYSTEM.Shared.Models.QuotationDetails>
@{
    Layout = "_SupplierLayout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Supplier Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet" />
    <link href="../../dist-assets/css/themes/lite-purple.min.css" rel="stylesheet" />
    <link href="../../dist-assets/css/plugins/perfect-scrollbar.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="text-left">
    <div class="main-content">
        <div class="breadcrumb">
            <ul>
                <li><a href="">Dashboard</a></li>
                <li>Supplier</li>
                <li>Orders for Quotations</li>
            </ul>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Quotation ID</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">Item Description</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Created Date</th>
                                <th scope="col">Quotation Amount</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.QuotationId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ItemName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ItemDescription)</td>
                                    <td>@Html.DisplayFor(modelItem => item.MobileNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                    <td>
                                        <input type="number" class="form-control" id="quotationAmount_@item.QuotationId" placeholder="Enter your quote" />
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" type="button" onclick="submitQuotation(@item.QuotationId)">Submit</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        // JavaScript function to handle submission of the supplier's quotation
        function submitQuotation(quotationId) {
            const amount = document.getElementById(`quotationAmount_${quotationId}`).value;

            if (amount) {
                // Make an AJAX call to the server to submit the quotation amount
                $.ajax({
                    url: '/Supplier/SaveQuotationAmount', // Correct URL to the controller and action
                    method: 'POST',
                    data: {
                        QuotationId: quotationId,
                        QuotationAmount: amount
                    },
                    success: function (response) {
                        // Assuming the response has a message property
                        Swal.fire('Success', response.message, 'success');
                    },
                    error: function (error) {
                        Swal.fire('Error', 'Failed to submit quotation amount.', 'error');
                    }
                });
            } else {
                Swal.fire('Error', 'Please enter a valid quotation amount.', 'error');
            }
        }
    </script>

</body>

</html>


